<!-- with the extends 'layout.html' we are inheriting the layout.html page
     that allows us to omit all the duplicate code and only specify what is
     unique on every given page -->
{% extends 'layout.html' %}

<!-- with this block called content we will override a block with the same name
     in the layout.html page that we are inheriting
     this will allow us to preserve all the elements that are common to all the
     pages and insert the unique data into the corresponding block section -->
{% block content %}

    <!-- creating a for loop in flasks templating engine (Jinja 2)
         to do this we need to use a code block, we need to state the start
          of it {% for element in iterable %} and its end {% endfor %} -->
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="media-metadata">

                    <!-- we can input the data from our dictionary by using
                         double brackets {{ }} and then the variable inside
                         of it (in this case {{ post.author }}  -->
                    <a class="mr-2" href="#">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted}}</small>
                </div>
                <h2><a class="article-title" href="#">{{ post.title }}</a> </h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
<!-- Jinja 2 allows us to write the name of the block that we are closing
     it's a good practice since we can clearly see which block we are ending
     really useful when we operate with a lot of blocks     -->
{% endblock content %}